H2/H2.docx
H2/H2.pdf
V1/V1.docx
V1/V1.pdf
H3/h3.docx
H3/h3.pdf
~$V1.docx
H4/h4.docx
H3/vigur.md
H4/test_a.xlsx
~$h4.docx

H4/test_a.xlsx
H4/h4.pdf
H4/test_a.xlsx
H4/test_a.xlsx
V2/V2.docx
V2/~$V2.docx
H4/test_a.xlsx
H4/test_a.xlsx
V2/V2.pdf
H5/~$h5.docx
H5/h5.docx
H5/h5.pdf
H5/Ónefnt.paint
H6/~$H6.docx
H6/H6.docx
H6/h6.pdf
V3/package-lock.json
V3/node_modules/*.*
V3/package-lock.json
V3/package.json
V3/~$L105M Tölvugrafík.docx
V3/TÖL105M Tölvugrafík.docx
V3/V3.pdf
H7/05-cube-ball-plane.html
H7/~$h7.docx
H7/h7.docx
